{% block header %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="{% url 'student_main_page' %}" class="nav-link">
                    {{ user.first_name }} {{ user.last_name }} {{ user.userprofile.student.group }}
                </a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">Выйти</a>
            </li>
        </ul>
    </div>
</nav>

{% endblock header %}


